.flexRowContent--mainheader-bg {
    background-color: #f4f4f4;
}

.flexRowContent--heading-cute {
    background-image: linear-gradient(180deg, #454545, #2d2d2d) !important;
    position: relative;
    padding: 40px 0 80px;
    margin-bottom: 60px;
}

.flexRowContent--footer-cute {
    background-color: crimson;
    position: relative;
    margin-top: 100px;
}

.flexRowContent--footer-cute::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 40px solid crimson;
    top: -40px;
    left: 45.5%;

    
}

.flexRowContent--heading-cute::after{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 40px solid #fff;
    bottom: 0;
    left: 45.5%;

    
}

.flexRowContent--headercolorido2 {
    background-color: #454545;
}

.flexRowContent--headercolorido2 .pr0 {
    background-color: red !important;
}
