.notificationBarInner  {
  background-color: #c11b1b;
}

::global(.vtex-store-components-3-x-searchBarContainer .vtex-input-prefix__group) {
  border-radius: 35px !important;
}

.autoCompleteOuterContainer.autoCompleteOuterContainer--search_block {
  border-radius: 35px;
}

.logoImage {
  position: relative;
}

.logoImage::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 20px;
  background-color: red;
  display: block;
}